footer
  br
  span
    p built by #[a(href='http://www.github.com/hephaestic/vote') Hephaestic]
    p based on #[a(href='https://www.freecodecamp.com/challenges/build-a-voting-app') Basejump: Build a Voting App | Free Code Camp]
  br
