doctype html
html
  head
    block title
    // link(href='/public/css/main.css, rel='stylesheet', type='text/css')
  body
    block header
      include ./header.pug
    block content
      p Welcome #{user}! Come Vote!
    block footer
      include ./footer.pug
