extends ./layout.pug

block title
  title Polls

block content
  h1 Polls:
  table
    thead
      tr
        th idx
        th poll
        th votes
    tfoot
      tr
        th total
        th 99999
        th 99999
    tbody
      each poll, index in polls
        tr
          td= index
          td= poll.name
          td= poll.votes
